<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Styles</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
  <h3 style=" margin:0; font-weight: bold"><a class="navbar-brand" href="/products" style="color: black; font-size: 40px;">Styles</a></h3>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
<div class="collapse navbar-collapse" id="bar">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
  <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" style="margin: 0;" action="/search" method="post">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input name="search" class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search a Product"
      aria-label="Search" style="color: white; padding: 25px;">
  </form>
  </li>
  <li class="nav-item">
  <h4 style=" margin:0; padding: 12.5px;"> <a class="nav-link" href="/contact" >CONTACT</a> </h4>
  </li>
  <li class="nav-item">
  <h4 style=" margin:0; padding: 12.5px;">  <a class="nav-link" href="/about" >ABOUT</a> </h4>
  </li>
</ul>
</div>
</nav>

  <body>
    <div class="container">
