<%- include('partials/header') %>



  <div class="container">
    <h1 class="home" style="font-size: 500%">Styles</h1>
    <h2 style="font-size: 250%;">Sign in or register to Start shopping</h2>
    <hr style="padding-top: 5%;">
    <a class="btn btn-light btn-lg" href="/register" role="button" style="font-size: 120%;">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button" style="font-size: 120%;">Login</a>
    <hr style="padding: 15%;">

  </div>


<%- include('partials/footer') %>
