<%- include('partials/header') %>



  <div class="container">
    <h1 class="display-3">Styles</h1>
    <p class="lead">Sign in or register to Start shopping</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>


<%- include('partials/footer') %>
