<%- include('partials/header') %>

<div class="container mt-5">
  <h1 style="font-size: 350%; padding-bottom: 5%;">Login</h1>

  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="username" style="font-size: 160%; line-height: 50px; margin: 0;">Registered Phone Number</label>
              <input type="Number" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password" style="font-size: 160%; line-height: 50px; margin: 0;">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark" style="font-size: 120%;">Login</button>
            <a href="/register">Do Not have an account yet?</a>
          </form>

        </div>
      </div>
    </div>


  </div>
    <hr style="padding: 10%;">
</div>

<%- include('partials/footer') %>
