<%- include('partials/header') %>

<div class="container mt-5">
  <h1 style="font-size: 350%; padding-bottom: 5%;">Personal Details</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/welcome" method="POST">
            <div class="form-group">
              <label for="name" style="font-size: 160%; line-height: 50px; margin: 0;">Enter Your Name</label>
              <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label for="email" style="font-size: 160%; line-height: 50px; margin: 0;">Enter email</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label for="address" style="font-size: 160%; line-height: 50px; margin: 0;">Residential Address</label>
              <input type="text" class="form-control" name="address" required>
            </div>
            <button type="submit" class="btn btn-dark" style="font-size: 120%;">Login</button>
          </form>

        </div>
      </div>
    </div>


  </div>
  <hr style="padding: 10%;">
</div>

<%- include('partials/footer') %>
